/* ============ header =============== */
.header {
    min-height: 100vh;
}
.header__inner {
    padding: 4.2rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__left {
    display: flex;
    align-items: center;
}
.header__logo {
    display: flex;
    align-items: center;
    column-gap: 0.8rem;
    text-decoration: none;
}

.header__logo-name {
    color: black;
    font-weight: 700;
}

.header__nav {
    margin-left: 7rem;
}

.nav__list {
    display: flex;
}

.nav__link {
    padding: 0 2.4rem;
    position: relative;
}

.active-link::after {
    content: "";
    position: absolute;
    width: calc(100% - 4.8rem);
    height: 0.2rem;
    bottom: 0;
    left: 2.4rem;
    border-radius: 999px;
    background: var(--secondary-color);
    transition: color 0.9s ease-in;
}

.nav__link:hover {
    text-shadow: 0 0 currentColor;
    color: var(--primary-color);
}

.header__cta {
    display: flex;
    align-items: center;
    column-gap: 2.8rem;
}

.header__login {
    color: var(--primary-color);
    font-weight: 600;
}

.hero {
    padding: 3.4rem 0 3rem;
}

.hero__inner {
    display: flex;
    align-items: center;
}

.hero__content {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero__heading {
    margin-bottom: 2rem;
    width: 50rem;
}

.hero_desc {
    width: 45rem;
}

.hero__form {
    position: relative;
    width: 54rem;
    height: 7.4rem;
    border-radius: 0.8rem;
    background: white;
    box-shadow: 0px 16px 42px 0px rgba(0, 0, 0, 0.07);
    margin: 4rem 0 2rem;
}

.hero__input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    padding: 2.3rem;
    color: var(--gray-color);
    font-family: Open Sans;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.8rem;
}

.hero__btn {
    position: absolute;
    top: 0.8rem;
    right: 0.8rem;
}

.hero__content-note {
    margin-top: 2rem;
    color: var(--gray-color);
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 2.4rem;
}

.hero__img {
    width: 29.6rem;
    height: 56.2rem;
}

.hero__blockImage {
    position: relative;
}

.hero__download {
    position: absolute;
    top: 11.3rem;
    left: -10rem;
}

.hero__download {
    width: 17.4rem;
    height: 4.6rem;
    border-radius: 0.6rem;
    background: white;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.07);
    padding: 1.4rem 1rem;
    display: flex;
}

.hero__imgWrap--name {
    color: var(--black-medium-color);
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.4rem;
    margin: 0 1.9rem 0 0.8rem;
}

.hero__imgWrap--price {
    color: var(--blue-color-1);
    font-family: Open Sans;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.4rem; /* 100% */
}

.hero__interest {
    width: 13rem;
    height: 13rem;
    border-radius: 50%;
    background-color: var(--red-color);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 12.7rem;
    right: -17.4rem;
}

.hero__interest--number {
    color: white;
    font-size: 4.4rem;
    font-weight: 600;
}

.hero__interest--text {
    color: white;
    font-size: 1.6rem;
    font-weight: 400;
}

.hero__secured {
    padding: 2rem 1.4rem;
    width: 12.4rem;
    height: 6.8rem;
    border-radius: 1rem;
    background: var(--green-color);
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 6.1rem;
    left: 24.6rem;
}

.hero__secured-textWrap {
    margin-left: 1.1rem;
}
.hero__secured--price {
    color: white;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.4rem;
}

.hero__secured--name {
    color: white;
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 0.8rem;
}

.work {
    padding: 7rem 0;
    margin: 6rem 0;
}

.work__inner {
    display: flex;
}

.work__blogImg {
    width: 58%;
    flex-shrink: 0;
}

.work__imgWrap {
    position: relative;
    width: 45rem;
    height: 62rem;
}

.work__imgWrap-bg {
    position: absolute;
    bottom: 0;
}

.work__imgWrap-img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    left: 0.7rem;
}

.work__imgWrap--decorWrap {
    position: absolute;
    top: 7.6rem;
    right: 5.5rem;
    width: 6.4rem;
    height: 6.4rem;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--secondary-color);
}

.work__imgWrap--decor {
    width: 4.2rem;
    height: 4.2rem;
    border-radius: inherit;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.work__content {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.work__heading {
    margin-bottom: 7rem;
}

.work__title {
    color: var(--primary-color);
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 3.2rem;
}

.work__desc {
    line-height: 2.8rem; /* 175% */
    margin-top: 1.6rem;
}

.work__titleWrap:not(:last-child) {
    margin-bottom: 3rem;
    width: 47rem;
}

.work__congratulation {
    width: 22rem;
    height: 7rem;
    border-radius: 0.8rem;
    background: #fffdfa;
    box-shadow: 0px 14px 34px 0px rgba(0, 0, 0, 0.07);
    display: flex;
    align-items: center;
    column-gap: 1rem;
    padding: 1.5rem;
    z-index: 10;
    position: absolute;
    bottom: 9.6rem;
    left: 33.7rem;
}

.work__congratulation-title {
    color: var(--black-color-2);
    font-family: var(--font-secondary);
    font-size: 1.4rem;
    font-weight: 600;
}

.work__congratulation-subTitle {
    color: var(--gray-color);
    font-family: var(--font-secondary);
    font-size: 1.2rem;
    font-weight: 400;
}

/* ===========Feature ============ */

.feature {
    padding: 3rem 0;
}

.feature__inner {
}

.feature__top {
    display: flex;
    column-gap: 13rem;
}

.feature__content {
    width: 35%;
    flex-shrink: 0;
}

.feature_desc {
    margin-top: 2rem;
}
.feature__body {
    margin: 2.8rem 0 3.8rem;
}

.feature__title {
    display: block;
    color: var(--black-color-2);
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 3rem;
    position: relative;
    padding-left: 2.4rem;
}

.feature__title::before {
    position: absolute;
    content: "";
    display: inline-block;
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background: var(--secondary-color);
}

.feature--btn {
    min-width: 14.9rem;
    line-height: 5.8rem;
}

.feature__card-image {
    position: relative;
}

.feature__card-image img {
    display: block;
}

.feature__card-summary {
    padding: 2.3rem 1.3rem;
    position: absolute;
    right: -8.8rem;
    top: -4.8rem;
    width: 27.6rem;
    height: 8.6rem;
    border-radius: 1.2rem;
    background: #fff;
    box-shadow: 0px 14px 38px 0px rgba(0, 0, 0, 0.07);
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.feature__summary-icon {
    width: 4rem;
    height: 4rem;
}

.feature__summary-sendMoneyWrap {
    padding: 0 6.7rem 0 1.4rem;
}

.feature__summary-name {
    color: var(--primary-color);
    font-family: var(--font-secondary);
    font-size: 1.2rem;
    font-weight: 500;
}

.feature__summary-price {
    color: var(--primary-color);
    text-align: right;
    font-family: var(--font-secondary);
    font-size: 1.6rem;
    font-weight: 400;
}

.feature__summary-payment {
    margin-top: 0.4rem;
    font-family: var(--font-secondary);
    font-size: 1rem;
    font-weight: 400;
    color: var(--gray-color);
}

.feature__summary-date {
    margin-top: 0.4rem;
    font-family: var(--font-secondary);
    font-size: 1rem;
    font-weight: 400;
    color: var(--gray-color);
    text-align: right;
}

.feature__card-income {
    position: absolute;
    right: -8.8rem;
    bottom: -5.5rem;
    padding: 1.5rem;
    width: 12rem;
    height: 12rem;
    border-radius: 1.6rem;
    background: var(--green-color);
}

.feature__income-name {
    margin: 1.4rem 0 0.6rem;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 400;
}

.feature__income-price {
    color: #fff;
    font-size: 1.8rem;
    font-weight: 600;
}

.feature__bottom {
    margin-top: 16rem;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.feature__bottom .feature__content {
}

.feature__blogImage {
    min-height: 60rem;
    margin-right: auto;
}

.feature__image {
    width: 47rem;
    height: 60rem;
    position: relative;
}

.feature__image-bg {
    display: block;
    position: absolute;
    bottom: 0;
}

.feature__image-img {
    align-self: center;
    display: block;
    position: absolute;
    bottom: 0;
    left: 2.8rem;
    width: 41.3rem;
    height: 60rem;
    object-fit: cover;
}

.feature-pay {
    padding: 2.8rem;
    display: block;
    position: absolute;
    bottom: 5.7rem;
    right: -7.4rem;
    width: 28.1rem;
    height: 22rem;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 44px 48px rgba(0, 0, 0, 0.1);
}

.feature-pay__title {
    color: var(--primary-color);
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 3rem;
}

.feature-pay__body {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.8rem;
}

.feature__image-icon {
    position: absolute;
    top: 28.8rem;
    right: -10rem;
}

.feature__image-icon img {
    width: 9rem;
    height: 9rem;
    object-fit: cover;
}
