* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Open Sans", sans-serif;
    font-size: 1.6rem;
}

.container {
    max-width: calc(1170px - 24px);
    margin-left: auto;
    margin-right: auto;
}

:root {
    --primary-color: #212832;
    --secondary-color: #7264d6;
    --font-primary: "Open Sans;";
    --gray-color: #696d76;
}

.btn {
    display: inline-block;
    min-width: 15rem;
    height: 58px;
    background: transparent;
    border-radius: 8px;
    font-size: 1.6rem;
    font-weight: 600;
    padding: 0 16px;
    text-align: center;
    font-family: var(--font-primary);
    text-decoration: none;
    color: white;
}

.btn.btn--primary {
    background: var(--primary-color);
}

.btn.btn--secondary {
    width: 11.3rem;
    line-height: 5.2rem;
    background: var(--primary-color);
}

.text {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.7;
    color: var(--gray-color);
    text-decoration: none;
}
