* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Open Sans", sans-serif;
    font-size: 1.6rem;
}

.container {
    max-width: calc(1170px - 24px);
    margin-left: auto;
    margin-right: auto;
}

:root {
    --primary-color: #212832;
    --secondary-color: #7264d6;
    --font-primary: "Open Sans;";
    --font-secondary: "Inter";
    --gray-color: #696d76;
    --black--medium-color: #31456a;
    --black-color-2: #212832;
    --black-color-3: #070052;
    --blue-color-1: #4ab5e3;
    --red-color: #da6464;
    --green-color: #439f90;
    --gray-color-3: #dfe2e8;
    --gray-color-4: #9b9fab;
    --gray-color-5: #6a6e78;
    --footer-bg: #fafbff;
    --gray-color-6: #8e919a;
}

.heading {
    font-family: var(--font-primary);
    font-weight: 700;
    color: var(--primary-color);
    text-transform: capitalize;
}

.heading.lv1 {
    font-size: 6rem;
    line-height: 7rem;
}

.heading.lv2 {
    margin-top: 1.2rem;
    font-size: 4rem;
    line-height: 5rem;
}

.heading.lv3 {
    font-size: 1.8rem;
    line-height: 3rem;
    font-weight: 600;
    margin-bottom: 2.4rem;
}

.hightlight {
    color: var(--secondary-color);
}

.sub-heading {
    position: relative;
    padding-left: 3rem;
}

.sub-heading::before {
    content: "";
    position: absolute;
    width: 1.8rem;
    height: 0.2rem;
    flex-shrink: 0;
    top: 50%;
    left: 0;
    background-color: var(--gray-color);
    transform: translateY(-50%);
}

.desc {
    font-family: var(--font-primary);
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 3rem;
    color: var(--gray-color);
}

.btn {
    display: inline-block;
    min-width: 15rem;
    background: transparent;
    border-radius: 8px;
    font-size: 1.6rem;
    font-weight: 600;
    padding: 0 16px;
    text-align: center;
    font-family: var(--font-primary);
    text-decoration: none;
    color: white;
    border: none;
    outline: none;
}

.btn:hover {
    opacity: 0.8;
}

.btn.btn--primary {
    width: 11.3rem;
    line-height: 5.2rem;
    background: var(--primary-color);
}

.btn.btn--secondary {
    width: 14.9rem;
    height: 5.8rem;
    background: var(--secondary-color);
}

.text {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.7;
    color: var(--gray-color);
    text-decoration: none;
}
